.head{
    text-align: center;
    margin-top:20px;
}
img{
     display: block;
     margin: 0 auto;
}
#counter {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
#maveli {
    transition: transform 0.2s ease;
}
.jump {
    transform: translateY(-50px);
}
#partyBtn{
 padding: 10px 14px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(255, 118, 136, 0.4);
    transition: all 0.3s ease;
    float:right;
    position: fixed;
    bottom: 20px;  
    right: 20px;  

 font-family: "Chilanka", cursive;
  font-weight: 900;
  font-style: normal;

}
body {
  background-image: url('assets/bg.jpg'); /* path to your bg image */
  background-size: cover; /* makes the image cover the whole screen */
  background-repeat: no-repeat; /* prevents tiling */
  background-position: center center; /* centers the image */
  background-attachment: fixed; /* makes the bg fixed when scrolling */
  font-family: 'Chilanka', cursive; /* keep your font */
  margin: 0;
  padding: 0;
}

